Task One Multiplication using for loop

In [ ]:
for i in range(1, 4):
    for j in range(1, 4):
        print(f"{i} * {j} = {i * j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

diamond pattern

In [2]:
h = 5
for i in range(1, h * 2):
    if i <= h:
        s = h - i
        stars = i
    else:
        s = i - h
        stars = (h * 2) - i
    print(" " * s, end="")
    print("* " * stars)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

Max Value

In [ ]:
n = [23, 45, 5, 50, 79]
max_value = n[0]
for i in n:
    if i > max_value:
        max_value = i
print(max_value)

79

Number of vowels

In [ ]:
text = input("Enter a string: ")
vowels = "aeiou"
count = 0

for char in text.lower():
    if char in vowels:
        count += 1

print(f"Number of vowels: {count}")

Enter a string: Hi I am hamed
Number of vowels: 5

Prime

In [ ]:
start = int(input("Enter the begining of the range (: "))
end = int(input("Enter the end of the range: "))

for n in range(start, end + 1):
    if n > 1 and all(n % i != 0 for i in range(2, int(n**0.5) + 1)):
        print(n)

Enter the begining of the range (: 10
Enter the end of the range: 100
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

Fibonacci sequence
This is the rule Fn = F(n-1) + F(n-2)

In [ ]:
n = int(input("Enter the num: "))
f0, f1 = 0, 1

for i in range(n):
    print(f0, end=" ")
    f0, f1 = f1, f0 + f1

Enter the num: 9
0 1 1 2 3 5 8 13 21